/* CSS Document */
body {
	background-color: #fdfbfb;
	font-family: Arial, Tahoma, Helvetica;
	font-size:12px;
	padding:0px;
	margin: 0px      
}

a {
	text-decoration: none;
}

h2 {
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	padding: 0px;
	margin:0px;
}

h3 {
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	padding: 0px 0px 2px 0px;
	margin:0px;
}

h4 {
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	padding: 0px 0px 2px 0px;
	margin:0px;
}
div {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#wrapper {
	width: 768px;
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	border-left: solid #730000 1px;
	border-right: solid #730000 1px;
	background: #fff;
}
/* Header */
#logo {
	height:108px;
	background-color:#E00;
	background-image:url(bg_topo.gif);
	background-repeat:no-repeat;
	}
#logo img {
	border:0px;
	margin:0px 0px 0px 0px;
	padding:5px 0px 5px 10px;
}
/* Content */
.node {
	display: table;
        margin-bottom: 11px;
}

.node div { 
        text-align: justify;
}

#content {
	text-align:left;
	width: 100%;
}

.content .image {
	float:left;
	margin:0 20px 10px 0;
}
	


#main {
	float: left;
        width: 560px;
	padding: 5px;
        padding-top: 1px;
        margin-top: -4px;
}
/* Sidebar-left */
#sidebar-left {
	width: 100%;
	padding: 0px;
	background-color: #f00;
}


/* Sidebar-right */ 
#sidebar-right {
        width: 190px;
	margin-left: 75%; 
	padding: 0px;
	background-color: #eee;
}

/* Destaque */

#container-destaque { 
        width: 100%;
}
#container-content { 
        float: left;
        width: 100%;
}
#container-feed { 
        float: left;
        width: 100%;
}

#destaque1 {
        float: left;
	height:210px;
        width: 270px;
	text-align:left;
	margin:2px 2px 0px 2px;
	border:1px solid #ddd;
        overflow:hidden;
}

#destaque1 h2 a { 
        font-size: 13px;
        font-weight: bold;
        color: #fff;
}

#destaque2 {
        float: left;
	height:210px;
        width: 270px;
	text-align:left;
	margin:2px 2px 0px 2px;
	border:1px solid #ddd;
        overflow:hidden;
}

#destaque2 h2 a {
        font-size: 13px;
        font-weight: bold;
        color: #fff;
}

#listagem { 
  width: 537px;
  height: 100%;
  float: left;
  text-align:left;
  margin:12px 9px 0px 0px;
  border:1px solid #D6D6D6;
}
#listagem h3{ 
  text-align: center;
}

#busca  { 
  position: relative;
  top: -5px;
  font-size: 10px;
  float: left;
  border-bottom: 1px dashed #aaa;
  width: 100%;
}

#busca .block-block { 
  float: right;
  width: 47%;
}

#busca .block-search { 
  float: right;
  position: relative;
  top: -3px;
  width: 49%;
}

#busca h2 { 
  color: #000;
}

#busca .title { 
  background-color: #fff;
}

#busca .block-search input { 
  border: 1px solid #b60000;
  background-color: #f3f3f3;
  width: 80px;
  height: 13px;
  font-size: 11px;
}

#busca .block-search .form-submit {
  background-color: #a00;
  color: #fff;
  border: 0;
  height: 17px;
  margin: 0;
}


#revista {
	width:124px;
	float:left;
	text-align:center;
}

#jornal {
	width:120px;
	float:right;
	text-align:center;
	border-left:1px dashed #D6D6D6;
}

#footer {
        clear: left;
	font-size:9px;
	color:#787878;
	padding:10px;
	border:0px;
	background-color: #ccc;
}

#menu {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.tipo-conteudo { 
        background-color: #eee;
        padding: 0px;
}

.tipo-conteudo h1 { 
        font-size: 16px;
        padding: 0px;
        margin-top: 0;
        padding-top: 5px;
        padding-left: 5px;
        background-color: #ddd;
}

.tipo-conteudo li { 
        font-size: 15px;
        font-weight: bold;
        display: inline;
}
.tipo-conteudo li a { 
        color: #a00;
}

.atual a { 
        font-size: 19px;
}

.envie {
	border:1px solid #006531;
	margin-right:30px;
}

.contato {
	border:1px solid #B60000;
	margin-right:30px;
}

textarea {
	width:250px;
	border:1px solid #B60000;
	/*006531*/
	background-color:#F3F3F3;
}

input {
}

input.botao {
	color:#FFFFFF;
	background-color:#B60000;
}

input.botaoenvie {
	border:1px solid #006531;
	color:#FFFFFF;
	background-color:#006531;
	margin-right:30px;
}

form {
	margin:0px 0px 0px 0px;
}

#menu a {
	text-decoration:none;
	color:#fff;
        background-color: #d00;
}

a.sem_sublinhado {
	text-decoration:none;
}

a:link {
	color: #242424;
	text-decoration: none;
}
a:visited {
	color: #242424;
}
a:hover {
	color: #242424;
}
a:active {
	color: #242424;
}
#dropmenudiv{
	position:absolute;
	border:1px solid #CC0005;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	text-align:left;
}
	
#dropmenudiv a{
	width: 100%;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #CC0005;
	padding: 1px 0;
	text-decoration: none;
	color:#FFFFFF;
}
	
#dropmenudiv a:hover{
	background-color: #FF3C41;
}
/**
 * Primary navigation
 */

.block-menu { 
        width: 768px;
        background-color: #f0a;
}

#block-menu-primary-links {
	height: 35px;
	background-color: #d00;
	color:#FFFFFF;
        border-top: 4px solid #fff;
	padding: 5px 0px 0px 0px;
	background-image: url(primary.png);
}
#block-menu-primary-links ul {
	padding: 0px;
	margin: 0px;
}
#block-menu-primary-links li { 
	display: inline;
	font-size: 11px;
	padding: 0px 4px 0px 0px;
        border-right: 1px solid #fff;
}

#menu ul ul { 
  position: absolute;
  left: -4px;
  padding-top: 5px;
  width: 130px;
}

#menu ul li { 
  float:left;
  position: relative;
}

#menu ul li:hover ul {
  visibility:visible;
  z-index: 10;
}

#menu ul ul { 
  background-color: #d00;
  visibility: hidden;
  border-bottom: 2px solid #a00;
}

#menu ul li ul li {
  position: relative;
  left: -6px;
  padding: 3px;
  padding-left: 5px;
  border-top: 1px solid #a00;
  width: 120px;
}

.field-field-capa img { 
  float: right;
  padding: 4px;
}

div .field-field-numero { 
  padding: 3px;
  float: right;
  width: 400px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ddc;
}

div .field-field-ano { 
  float: left;
  font-weight: bold;
  font-size: 16px;
  width: 42px;
  padding: 3px;
  padding-left: 4px;
  background-color: #ddc;
}

div .field-field-mes { 
  float: left;
  font-weight: bold;
  font-size: 16px;
  width: 94px;
  padding: 3px;
  padding-left: 4px;
  background-color: #ddc;
}


#book-navigation-1 { 
  text-align: justify;
  padding: 4px;
}

.book-navigation ul { 
 width: 495px;
}

.book-navigation .menu { 
  border: 0;
}

.book-navigation .page-links { 
  margin-top: 35px;
}

div .image-attach-body { 
  float:left;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.block {
 padding: 5px;
}

.block h2 {
	color: #fff;
	background-color: #060;
        padding: 2px;
        padding-left: 4px;
        padding-bottom: 3px;
        padding-top: 2px;
}

#header h2 {
        background-color: #e00;
}

.breadcrumb a {
 color: #333;
}

.sticky { 
  width: 100%;
  border: 1px solid #ddd;
  padding: 3px;
}

.sticky h2 { 
  padding: 5px;
  background-color: #a00;
}

.sticky h2 a { 
  color: #fff;
}

.menu-revjorn ul{ 
  padding-left: 0px;
}

.menu-revjorn li { 
  display: block;
  padding: 3px;
  font-size: 13px;
  background-color: #aca;
  margin: 6px;
}

.views-field-field-ano-value { 
  font-weight: bold;
  font-size: 16px;
  float:left;
  width: 26%;
}

.views-field-field-mes-value { 
  float:left;
  font-size: 15px;
  padding-left: 7px;
  width: 46%;
}

.views-field-field-numero-value {
  float: right;
  width: 100%;
}

.col-1,.col-2,.col-3,.col-4 {
  padding: 6px;
  vertical-align: top;
}


.url-mais-revjorn { 
  float: left;
  position: relative;
  top: 9px;
  font-size: 10px;
  width: 80px;
}